name: examples
on: [push, pull_request]

jobs:
  test-c:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Build Rust library
        run: cargo build --release
      - name: Build and run C examples
        run: |
          cd examples/C
          make
          make run-basic > /dev/null
          make run-self_print > /dev/null

  test-python:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
      - name: Build Rust library
        run: cargo build --release
      - name: Run Python examples
        run: |
          python3 examples/Python/basic.py > /dev/null
          python3 examples/Python/self_print.py > /dev/null

  test-go:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: Build Rust library
        run: cargo build --release
      - name: Build and run Go examples
        run: |
          cd examples/Go
          make
          make run-basic > /dev/null
          make run-self_print > /dev/null

  test-ruby:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby
      - name: Install FFI gem
        run: gem install ffi
      - name: Build Rust library
        run: cargo build --release
      - name: Run Ruby examples
        run: |
          ruby examples/Ruby/basic.rb > /dev/null
          ruby examples/Ruby/self_print.rb > /dev/null

  test-julia:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: julia-actions/setup-julia@v2
      - name: Build Rust library
        run: cargo build --release
      - name: Run Julia examples
        run: |
          julia examples/Julia/basic.jl > /dev/null
          julia examples/Julia/self_print.jl > /dev/null

  test-d:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: dlang-community/setup-dlang@v1
      - name: Build Rust library
        run: cargo build --release
      - name: Build and run D examples
        run: |
          cd examples/D
          make
          make run-basic > /dev/null
          make run-self_print > /dev/null

  test-zig:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: goto-bus-stop/setup-zig@v2
      - name: Build Rust library
        run: cargo build --release
      - name: Build Zig examples
        run: |
          cd examples/Zig
          zig build
      - name: Run Zig examples (macOS)
        if: matrix.os == 'macos-latest'
        run: |
          cd examples/Zig
          DYLD_LIBRARY_PATH=../../target/release ./zig-out/bin/basic > /dev/null
          DYLD_LIBRARY_PATH=../../target/release ./zig-out/bin/self_print > /dev/null
      - name: Run Zig examples (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          cd examples/Zig
          LD_LIBRARY_PATH=../../target/release ./zig-out/bin/basic > /dev/null
          LD_LIBRARY_PATH=../../target/release ./zig-out/bin/self_print > /dev/null

  test-nim:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: jiro4989/setup-nim-action@v2
      - name: Build Rust library
        run: cargo build --release
      - name: Build and run Nim examples
        run: |
          cd examples/Nim
          nim c -r basic.nim > /dev/null
          nim c -r self_print.nim > /dev/null

  test-v:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: vlang/setup-v@v1.4
      - name: Build Rust library
        run: cargo build --release
      - name: Run V examples
        run: |
          cd examples/V
          v run basic.v > /dev/null
          v run self_print.v > /dev/null

  test-typescript:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: false
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@v4
      - name: Build Rust library
        run: cargo build --release
      - name: Build and run TypeScript examples
        run: |
          cd examples/TypeScript
          npm install
          node basic.js > /dev/null
          node self_print.js > /dev/null
